* {
  border: 2px solid red;
}

/* margins & padding*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.width-1 {
  width: 100vw;
}

.width-2 {
  width: 75vw;
  margin: 0 auto;
}

.width-3 {
  width: 60vw;
  margin: 0 auto;
}

/* nav bar */

.nav-bar {
  display: flex;
  justify-content: space-between;
}

#nav-list {
  list-style-type: none;
  display: flex;
  gap: 16px;
}

.nav-link {
  text-decoration: none;
}

/* hero section */

.hero-info {
  display: flex;
  padding: 48px 0;
}

#hero-info-text,
#hero-img {
  flex: 1;
}

#hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* tiles section */

#tiles-heading {
  text-align: center;
}

#all-tiles {
  display: flex;
  justify-content: space-between;
}

.tiles {
  width: 150px;
  height: 250px;
  margin-bottom: 96px;
}

.tiles-img {
  width: 150px;
  height: 150px;
}

/* quote */

#quote-text {
  margin-left: 12px;
}

#quote-author {
  text-align: right;
  margin-right: 12px;
}

/* call to action */

.action {
  display: flex;
  margin: 24px 0;
}

.action-text {
  flex: 2;
}

#action-button {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* footer */

.footer-text {
  text-align: center;
}
